body {
  margin: 0;
}

#title {
    font-family: 'Arial';
    text-align: center;
    font-size: 38px;
    letter-spacing: -0.01em;
    color: #04012b;
    border-radius: 40px;
    margin: auto;
    display: grid;
    place-items: center;
    vertical-align: middle;
  }

.container {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

#footer {
  font-family: 'Arial';
  opacity: 0.7;
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  color: #5e8cc0;
  font-size: 17px;
}

#output {
  font-family: 'Arial';
  opacity: 0.7;
  position: fixed;
  height: 30px;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 20px;
}

img {
  float: left;
}

.logo_fing {
  position: absolute;
  width: 350px;
  top: 0;
  right: 0;
}

#connect_btn {
  color: #5e8cc0;
  border-color: #5e8cc0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  font-size: 20px;
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
  top: 0;
  left: 0;
}

a:link {
  color: #386497;
}

a:visited {
  color: #386497;
}
